In [217]:
import requests
from bs4 import BeautifulSoup
import pandas as pd



c=[]

page = requests.get('https://www.worldometers.info/coronavirus/')
soup = BeautifulSoup(page.content, 'html.parser')

table = soup.find('table',id = 'main_table_countries_today')
tbodys = table.find_all('tbody')

tbodys = tbodys[0]
#print(tbodys)

for row in tbodys.find_all('tr', {'class': ''}):
    for cell in row.find_all('td'):
        c.append((cell.text))

        
        
#print(c)
d =[]
country=[]
totalcase=[]
newcases=[]
totaldeaths=[]
newdeaths=[]
totalrecover=[]
activecases=[]
seriouscritical=[]
totaltest=[]
continental=[]
i=0
j=0

for i in range (i, len(c),13):
    d.append(c[i:i+13])

#print(d)

for j in range (j,len(d),1):
    country.append(d[j][0])
    totalcase.append(d[j][1])    
    newcases.append(d[j][2])
    totaldeaths.append(d[j][3])
    newdeaths.append(d[j][4])
    totalrecover.append(d[j][5])
    activecases.append(d[j][6])
    seriouscritical.append(d[j][7])
    totaltest.append(d[j][10])
    continental.append(d[j][12])
# print(country)
  
# print(totalcase)


       
df = pd.DataFrame({
    'Country': country,
    'Total_Case': totalcase,
    'New_Cases' : newcases,
    'Total_Deaths': totaldeaths,
    'New_Deaths' : newdeaths,
    'Total_Recover' : totalrecover,
    'Active_Cases' : activecases,
    'Serious_Critical' : seriouscritical,
    'Total_Test' : totaltest,
    'Contitental' : continental
    
    
})
print(df)


#df.to_csv('corona_info.csv',index=False)

    Active_Cases        Contitental                 Country New_Cases  \
0        678,007      North America                     USA      +154
1         98,771             Europe                   Spain
2        108,237             Europe                   Italy
3         97,709             Europe                  France
4         47,003             Europe                 Germany
5        107,890             Europe                      UK
6         75,410               Asia                  Turkey
7         19,023               Asia                    Iran
8         43,270             Europe                  Russia
9         15,165      South America                  Brazil
10        25,260             Europe                 Belgium
11        22,553      North America                  Canada
12        29,404             Europe             Netherlands
13         7,915             Europe             Switzerland
14        19,518             Europe                Portugal
15        14,736               Asia                   India       +62
16         8,912      South America                    Peru
17        14,888             Europe                 Ireland
18         3,694             Europe                 Austria
19        12,647             Europe                  Sweden
20         9,487               Asia                  Israel
21         9,633               Asia                   Japan
22         2,233               Asia                S. Korea        +9
23         5,692      South America                   Chile
24         8,891               Asia            Saudi Arabia
25         8,471      South America                 Ecuador
26         8,080             Europe                  Poland
27         6,958               Asia                Pakistan      +324
28         6,441             Europe                 Romania
29         5,433      North America                  Mexico      +511
..           ...                ...                     ...       ...
182           15      North America   Saint Kitts and Nevis
183            2      North America             Saint Lucia
184            2      North America                 Cura√ßao
185            8      North America                 Grenada
186            8             Africa                     CAR
187           11      North America  St. Vincent Grenadines
188           10      North America        Turks and Caicos
189            8      South America        Falkland Islands
190            0      North America               Greenland
191            9      North America              Montserrat
192            6             Africa              Seychelles
193            2      North America               Nicaragua
194            7             Africa                  Gambia
195            3      South America                Suriname
196            7                                 MS Zaandam
197            7             Europe            Vatican City
198            0             Africa              Mauritania
199            7  Australia/Oceania        Papua New Guinea
200            4               Asia                  Bhutan        +1
201            1      North America               St. Barth
202            6             Africa          Western Sahara
203            1      North America  British Virgin Islands
204            0             Africa                 Burundi
205            5      North America   Caribbean Netherlands
206            4             Africa   Sao Tome and Principe
207            4             Africa             South Sudan
208            2      North America                Anguilla
209            1      North America   Saint Pierre Miquelon
210            1               Asia                   Yemen
211        1,003               Asia                   China       +11

    New_Deaths Serious_Critical Total_Case Total_Deaths Total_Recover  \
0           +3           13,951    792,913      42,517         72,389
1                         7,371    200,210      20,852         80,587
2                         2,573    181,228      24,114         48,877
3                         5,683    155,383      20,265         37,409
4                         2,889    147,065       4,862         95,200
5                         1,559    124,743      16,509            N/A
6                         1,909     90,980       2,140         13,430
7                         3,389     83,505       5,209         59,273
8                           700     47,121         405          3,446
9                         8,318     40,743       2,587         22,991
10                        1,071     39,983       5,828          8,895
11                          557     36,829       1,690         12,586
12                        1,158     33,405       3,751            N/A
13                          386     27,944       1,429         18,600
14                          215     20,863         735            610
15                                  18,601         592          3,273
16                          385     16,325         445          6,968
17                          294     15,652         687             77
18                          194     14,795         470         10,631
19                          521     14,777       1,580            550
20                          149     13,713         177          4,049
21                          217     11,135         263          1,239
22          +1               55     10,683         237          8,213
23                          377     10,507         139          4,676
24                           88     10,484         103          1,490
25                          124     10,128         507          1,150
26                          160      9,593         380          1,133
27         +16               46      9,216         192          2,066
28                          261      8,936         478          2,017
29         +26              378      8,772         712          2,627
..         ...              ...        ...          ...           ...
182                                     15
183                                     15                         13
184                                     14           1             11
185                           4         14                          6
186                                     12                          4
187                                     12                          1
188                                     11           1
189                                     11                          3
190                                     11                         11
191                           1         11                          2
192                                     11                          5
193                                     10           2              6
194                                     10           1              2
195                                     10           1              6
196                                      9           2
197                                      9                          2
198                                      7           1              6
199                                      7
200                                      6                          2
201                                      6                          5
202                                      6
203                                      5           1              3
204                                      5           1              4
205                                      5
206                                      4
207                                      4
208                                      3                          1
209                                      1
210                                      1
211                          82     82,758       4,632         77,123

    Total_Test
0    4,027,367
1      930,230
2    1,398,024
3      463,662
4    1,728,357
5      501,379
6      673,980
7      353,012
8    2,053,319
9      291,922
10     161,896
11     559,578
12     171,415
13     224,442
14     235,878
15     401,586
16     148,011
17      90,646
18     182,949
19      74,600
20     240,303
21     116,725
22     571,014
23     118,827
24     180,000
25      32,453
26     214,236
27     111,806
28      98,491
29      49,570
..         ...
182        247
183        344
184        286
185         92
186
187         87
188         83
189        319
190      1,101
191         36
192
193
194        316
195
196
197
198        913
199        604
200      8,765
201
202
203
204         80
205        110
206         19
207
208
209
210
211

[212 rows x 10 columns]